@charset "UTF-8";
/* 로고 */
div#header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);;
}
img#logo {
    /* border: 1px solid red;   */
    margin:1% ;
}
/* 관리자메뉴 */
div#adminmenu{
    /* border: solid 1px black; */
    height: 40px;
    text-align: center;
}
div#adminmenu > ul > li a {
    color:BLACK;
    font-size: 10pt;
}
/* 본문내용 */
div#contents{
    /* border: solid 1px black; */
    display: flex;
}

/* 사이드메뉴 */
div#sidemenu {
   /*  border: solid 1px black; */
    width: 15%;
    margin: -2px auto;
    height: 1200px;
}
div#sidemenu > h3 {
    text-align: center;
    margin: 3% 0 10% 0;
}
div#sidemenu ul,
div#sidemenu li{
    /* border: solid 1px black; */
    list-style-type: none;
    padding: 0;
    margin:0 ;
}
div#menulist > ul > li a {
    /* border: 1px solid red; */
    font-size: 14pt;
    padding: 0;
    margin: 0;
}
div#menulist > ul > ul {
    font-size: 10pt;
    line-height: 30px;
    /* border: 1px solid blue; */
}
div#menulist > ul > ul > li a {
    color: gray;
    text-decoration: none;
    margin: 0 auto;
    display: inline-block;
    /* border: 1px solid black; */
    padding-left: 3%;
}
div#menulist > ul > ul > li a:hover {
    color: black;
}
div#menulist > ul > ul > li:last-child {
    margin-bottom: 10%;
}

/* 본문 */
div#article {
    /* border: solid 1px black; */
    width: 90%;
}
table.table { /* 모든 테이블 */
    font-size: 10pt;
}
/* 본문상단 */
div#searchbutton {
    text-align: center;
}
div#searchbutton > button {
    font-size: 10pt;
}
table.table > thead > tr > th.th {
    /* border: 1px solid red; */
    width: 150px;
}
div#article p {
	font-size: 11pt;
}

div#categorysearch > h6 {
    border-left: 4px solid #0240b1;
    font-weight: bold;
}
/* 본문하단 */
div#categoryall > table.table > tbody > tr > td span:first-child {
    font-weight: bold;
}
div#categoryall > table.table > tbody > tr > td span:last-child {
    color: rgb(105, 0, 0);
}
#categoryall > p {
	font-size: 11pt;
}
div#categoryall > table.table > tbody > tr > td span:nth-child(2) img {
	width:30px;
}
