@charset "UTF-8";
/* 로고 */
div#header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);;
}
img#logo {
    /* border: 1px solid red;   */
    margin:1% ;
}
/* 관리자메뉴 */
div#adminmenu{
    /* border: solid 1px black; */
    height: 40px;
    text-align: center;
}
div#adminmenu > ul > li a {
    color:BLACK;
    font-size: 10pt;
}
/* 본문내용 */
div#contents{
    /* border: solid 1px black; */
    display: flex;
}

/* 사이드메뉴 */
div#sidemenu {
   /*  border: solid 1px black; */
    width: 15%;
    margin: -2px auto;
}
div#sidemenu > h3 {
    text-align: center;
    margin: 3% 0 10% 0;
}
div#sidemenu ul,
div#sidemenu li{
    /* border: solid 1px black; */
    list-style-type: none;
    padding: 0;
    margin:0 ;
}
div#menulist > ul > li a {
    /* border: 1px solid red; */
    font-size: 14pt;
    padding: 0;
    margin: 0;
}
div#menulist > ul > ul {
    font-size: 10pt;
    line-height: 30px;
    /* border: 1px solid blue; */
}
div#menulist > ul > ul > li a {
    color: gray;
    text-decoration: none;
    margin: 0 auto;
    display: inline-block;
    /* border: 1px solid black; */
    padding-left: 3%;
}
div#menulist > ul > ul > li a:hover {
    color: black;
}
div#menulist > ul > ul > li:last-child {
    margin-bottom: 10%;
}

/* 본문 */
div#article {
    /* border: solid 1px black; */
    width: 90%;
}
table.table { /* 모든 테이블 */
    font-size: 10pt;
}
/* 본문상단 */
div#searchbutton {
    text-align: center;
}
div#searchbutton > button {
    font-size: 10pt;
}
table.table > thead > tr > th.th {
    /* border: 1px solid red; */
    width: 150px;
}
div#article p {
	font-size: 11pt;
}

div#categorysearch > h6 {
    border-left: 4px solid #0240b1;
    font-weight: bold;
}


/* 본문테이블 */
img#categoryimg {
	width:30px;	
}
tr#updateCategoryTr > td:hover {
	background-color: #EEEEEE;
	cursor: pointer;
}

/* 모달 디자인 */
div.modal-body > div {
	display: flex;
	height: 50px;
}
div.modal-body > div.head span {
	font-weight: bold;
	font-size:16pt;
	position:relative;
	top:7px;
}

#categoryimg {
	height:35px;
	position:relative;
	top:6px;
}
select#major_category,
input#small_category {
    /* border:1px solid blue; */
	position:relative;
	top:12px;
}
div.modal-body > div {
    border-bottom: 1px solid #EEEEEE;
}
div.modal-body > div > div:first-child {
	background-color: rgb(238, 238, 238);
    font-size: 10pt;
    border-bottom: 1px solid white;
    line-height: 10px;
    width:150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.modal-body > div > div:last-child {
    /* border-bottom: 1px solid black; */
}
div.title {
	/* border:1px solid red; */
	margin-right:2%;
}
div#image {
	display:flex;
}
input#categoryimg {
	width:290px;
}
div#image {
	display: flex;
}
input#newcategoryimg {
	/* border: 1px solid red; */
	font-size:10pt;
	position:relative;
	right: -30px;
	top:10px;
}
img#viewcategoryimg {
	width:50px;
}
