@charset "UTF-8";
/* 로고 */
div#header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);;
}
img#logo {
    /* border: 1px solid red;   */
    margin:1% ;
}

/* 관리자메뉴 */
div#adminmenu{
    /* border: solid 1px black; */
    height: 40px;
    text-align: center;
}
div#adminmenu > ul > li a {
    color:BLACK;
    font-size: 10pt;
}


/* 사이드메뉴 */
div#sidemenu {
    /* border: solid 1px black; */
    width: 15%;
    margin: -2px auto;
}
div#sidemenu > h3 {
    text-align: center;
    margin: 3% 0 10% 0;
}
div#sidemenu ul,
div#sidemenu li{
    /* border: solid 1px black; */
    list-style-type: none;
    padding: 0;
    margin:0;
}
div#menulist > ul > li a {
    /* border: 1px solid red; */
    font-size: 14pt;
    padding: 0;
    margin: 0;
}
div#menulist > ul > ul {
    font-size:10pt;
    line-height: 30px;
    /* border: 1px solid blue; */
}
div#menulist > ul > ul > li a {
    color: gray;
    text-decoration: none;
    margin: 0 auto;
    display: inline-block;
    /* border: 1px solid black; */
    width: 70px;
    padding-left: 3%;
}
#menulist > ul > ul:nth-child(2) > li:nth-child(1) a {
    /* border: 1px solid red; */
    width: 200px;
}
div#menulist > ul > ul > li a:hover {
    color: black;
}
div#menulist > ul > ul > li button.btn {
    font-size: 8pt;
    height: 15px;
    position: relative;
}
div#menulist > ul > ul > li button.btn span {
    position: relative;
    top: -6px;
}
div#menulist > ul > ul > li:last-child {
    margin-bottom: 10%;
}

/* 본문 */
div#contents {
    display: flex;
}
div#article {
    /* border: solid 1px black; */
    width: 90%;
}


/* content */
div#reviewContent {
    width: 70%;
    margin: 0 auto;
}
div.title {
    font-size: 16pt;
    border-bottom: 1px solid gray;
    padding-bottom: 1%;
}
div.title > span.ragiday {
    font-size: 10pt;
    color:gray;
    float: right;
    position: relative;
    top: 10px;
}
span.answerday {
	font-size:9pt;
	color:gray;
}
div.askContent { /* 질문내용 */
    border: 1px solid #ccc;
    height: 200px;
    margin-top: 2%;
    padding: 1%;
    word-wrap: break-word;
    word-break: break-all;
}
div.existAnswer { /* 답변내용 */
    border : 1px solid #ccc;
    width:100%;
    height: 250px;
    word-wrap: break-word;
    word-break: break-all;
    margin: 1% 0;
    padding: 1%;
}

/* 버튼 */
a {
	color:white;
}
a:hover {
	color:gray;
	text-decoration: none;
}
button.btn {
    font-size: 10pt;
    width: 80px;
    
}
