@charset "UTF-8";
/* 본문내용 */
div#contents{
    /* border: solid 1px black; */
    display: flex;
}

/* 사이드메뉴 */
div#sidemenu {
    /* border: solid 1px black; */
    width: 15%;
    margin: -2px auto;
}
div#sidemenu > h3 {
    text-align: center;
    margin: 3% 0 10% 0;
}
div#sidemenu ul,
div#sidemenu li{
    /* border: solid 1px black; */
    list-style-type: none;
    padding: 0;
    margin:0;
}
div#menulist > ul > li a {
    /* border: 1px solid red; */
    font-size: 14pt;
    padding: 0;
    margin: 0;
}
div#menulist > ul > ul {
    font-size:10pt;
    line-height: 30px;
    /* border: 1px solid blue; */
}
div#menulist > ul > ul > li a {
    color: gray;
    text-decoration: none;
    margin: 0 auto;
    display: inline-block;
    /* border: 1px solid black; */
    width: 70px;
    padding-left: 3%;
}
#menulist > ul > ul:nth-child(2) > li:nth-child(1) a {
    /* border: 1px solid red; */
    width: 200px;
}
div#menulist > ul > ul > li a:hover {
    color: black;
}
div#menulist > ul > ul > li button.btn {
    font-size: 8pt;
    height: 15px;
    position: relative;
}
div#menulist > ul > ul > li button.btn span {
    position: relative;
    top: -6px;
}
div#menulist > ul > ul > li:last-child {
    margin-bottom: 10%;
}

/* 본문 */
div#article {
    /* border: solid 1px black; */
    width: 90%;
    height:900px;
}
table.table { /* 모든 테이블 */
    font-size: 10pt;
}
/* 본문상단 */
div#searchbutton {
    text-align: center;
}
div#searchbutton > button {
    font-size: 10pt;
}
td#radio > label input#t {
    position: relative;
    top: 2px;
}
button.datebtn {
    font-size: 8pt;
}
table.table > thead > tr > th.th span {
    /* border: 1px solid red; */
    position: relative;
    top: -3px;
}
div#membersearch > h6 {
    border-left: 4px solid #0240b1;
    font-weight: bold;
}
/* 본문하단 */
div#memberlist {
    /* border: solid 1px blue; */
}
div#top {
    display: flex;
}
div#memberlist > table.table > thead > tr  th {
    font-size: 12pt;
}
div#productupdate > button {
    width: 90px;
    height: 30px;
    font-size: 8pt;
    font-weight: bold;
    position: relative;
    top: 10px;
}
div#productupdate > button span {
    position: relative;
}
table.table > tbody > tr > td button.update {
    width: 70px;
    height: 20px;
    font-size: 8pt;
    position: relative;
    left: -7px;
}
table.table > tbody > tr > td span {
    position: relative;
    top: -5px;
}
table.table > tbody > tr#tr:hover {
    background-color: #EEEEEE;
	cursor: pointer;
}
/* 모달 */
div.modal-body {
    border: 1px solid gray;
}
div.img > img {
    /* border: 1px solid red; */

}
div.pname span {
    float: right;
}
div.regiday {
    display: inline-block;
    font-size: 10pt;
    color: gray;
}
div.content {
    margin-top: 1%;
    border: 1px solid #ccc;
    height: 150px;
    font-size: 10pt;
    padding:1%;
    word-wrap: break-word;
    word-break: break-all;
}
/* 페이지바 */
div#pageBar > nav > ul.pagination {
	/* border: 1px solid blue; */
	display: flex; 
    justify-content: center;
	text-align: center;
}
div#pageBar > nav > ul.pagination > li.page-item a {
    /* border: 1px solid red; */
	color:black;
    font-size: 10pt;
}
.page-link {
    border: none;
}
.page-link:active:hover {
    border: 1px solid  rgba(0, 0, 0, 0.5);
}  
  .page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(246, 246, 246, 0.25);
  }
  
  .page-item.active .page-link {
    border-bottom: 1px solid black;
    z-index: 3;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
  }

