/* 로고 */
div#header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);;
}
img#logo {
    /* border: 1px solid red;   */
    margin:1%;
}
/* 본문전체 */
div#article {
    display: flex;
    /* border: 1px solid orange; */
}

/* 관리자메뉴 */
div#adminmenu {
    width:15%;
}
div#adminmenu > nav {
    /* border: 1px solid red; */
    height: 1000px;
}
div#adminmenu >  ul {
    /* border: 1px solid blue; */
    margin: 0 0 auto 0;
}
div#adminmenu  >  ul > li a {
    color: black;
    font-size: 10pt;
}
div#contents {
    /* border: 1px solid blue; */
    width: 100%;
}

/* 오늘의주요현황 */
div#todayissue {
    border-radius: 5px;
    width:96%;
    margin: 1% auto;
    padding: 1% 1% 2% 1%;
    text-align: center;
    background-color: white;
}
span.today {
    /* border: 1px solid black; */
    font-size: 18pt;
    font-weight: bold;
    position: relative;
    left: -12px;
}
div#card {
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
}
div.card {
    text-align: center;
}
div.today > p {
    font-size: 18pt;
    position: relative;
    top: 20px;
    color: black;
}
div#todayissue > div.today {
    /* border: 1px soliad black; */
    text-align: center;
    font-size: 24pt;
    color: black;
    height: 80px;
}
/* 주간통계 */
div#week > div#money {
    /* border: 1px solid red;  */
    width: 96%;
    margin: 0 auto;

}
div#week > div#money > div {
    display: inline-block;
    /* border: 1px solid blue; */
    height: 70px;
    background-color: white;
    border-left: 4px solid #5F6F52;

}
div#week > div#money > div h6 {
    margin-top: 2%;
    font-size: 10pt;
}
div#week > div#money > div h4 {
    /* border: 1px solid red; */
    font-size: 18pt;
}

/* 월간통계 */
div#month > div#money {
    /* border: 1px solid red;  */
    width: 96%;
    margin: 0 auto;

}
div#month > div#money > div {
    display: inline-block;
    /* border: 1px solid blue; */
    height: 70px;
    background-color: white;
    border-left: 4px solid #9B3922  ;

}
div#month > div#money > div h6 {
    margin-top: 2%;
    font-size: 10pt;
}
div#month > div#money > div h4 {
    /* border: 1px solid red; */
    font-size: 18pt;
}


/* 최근주문내역 */
div#allorder {
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    width:100%;
    padding: 2%;
    background-color: white;
}
div#ordertitle {
    display: flex;
    padding-top: 1% ;
}
div#ordertitle > div.title {
    font-size: 15pt;
    font-weight: bold;
}
div#ordertitle > button.datebtn {
    font-size: 9pt;
}
button.viewbtn {
    margin: 0 0 0 auto;
    font-size: 10pt;
}
div#page > ul > li a {
    color: black;
}


/* 최근회원가입 */
div#registerlist {
    /* border: 1px solid black; */
    width:100%;
    padding: 2%;
    background-color: white;
    margin-top: 1%;
}
div#registertitle {
    display: flex;
    padding-top: 1% ;
}
div#registertitle > div.title {
    font-size: 15pt;
    font-weight: bold;
}
div#registertitle > button.datebtn {
    font-size: 9pt;
}

/* 최근리뷰*/
div#review {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width:40%;
    padding: 2%;
    background-color: white;
    margin-left: 1%;
}
div#reviewtitle {
    display: flex;
    padding-top: 1% ;
}
div#review > div > table.table {
    /* border: 1px solid red; */
    display: block;
    height: 900px;
    max-height: 1000px;
    overflow-y: scroll;
    margin: 0 auto;
    font-size: 11pt;

}
div#reviewtitle > div.title {
    font-size: 15pt;
    font-weight: bold;
}
div#reviewtitle > button.datebtn {
    font-size: 9pt;
}

/* 공통 버튼디자인 */
button.viewbtn {
    height: 30px;
    background-color: #493628;
    color: white;
}
button.viewbtn > span {
    /* border: 1px solid red; */
    position: relative;
    top: -4px;
}
button.datebtn {
    height: 25px;
    position: relative;
    top: 5px;
    margin-right: 5px;
    background-color: #EEEDEB;
}
button.datebtn > span {
    /* border: 1px solid red; */
    position: relative;
    top: -5px;
}
/* 테이블공통 */
div#money > div:not(:last-child) {
    margin-right: 2%;
}
table.table> thead {
    background-color: #E4E0E1;
}
div#info {
    display: flex;
    width: 96%;
    margin: 0 auto;
}
div#tables {
    /* border: 1px solid yellow; */
    display: block;
    width: 60%;
}
