@charset "UTF-8";

h4 {
    /* border: solid 1px green; */
    text-align: center;
    margin: 10% 0 4% 0;
}


.col_mt {
    /* border: solid 1px blue; */
    margin-top: 2%;
}

input.underline {
    width: 100%;
    border-color: #ccc;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1;
    font-size: 18px;
}

input:focus {
    outline: none;
    border-color: black;
}

/* outline 테두리 없애기 */

.btnstyle {
    border: solid 1px black;
    background-color: white;
    width: 100%;
    height: 39px;
    border-radius: 5px;
    /* margin-bottom: 3%; */
    transition: all 0.3s
}

a.nav-link.active {
	color: black !important;
}

a.nav-link {
	color: gray;
}











