@charset "UTF-8";

/* form[name="registerFrm"] {
    border: solid 1px blue;
    width: 100%;
} */

h4 {
    /* border: solid 1px green; */
    text-align: center;
    margin: 10% 0 4% 0;
}

input.underline {
    width: 100%;
    border-color: #ccc;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1;
}

input.telunderline {
    border-color: #ccc;
    width: calc(100% - 70%);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1;
}


input:focus {
    outline: none;
    border-color: black;
}


/* outline 테두리 없애기 */

span.star {
    color: red;
    font-weight: bold;
    font-size: 13pt;
}



.checkbutton {
    border: solid 0px black;
    font-size: 10pt;
    width: 110px;
    height: 20px;
    padding: 0;
    color: gray;
    background-color: #e3e3e3;
}


.btnstyle {
    border: solid 1px black;
    background-color: white;
    width: 100%;
    height: 39px;
    border-radius: 13px;
    margin-bottom: 3%;
    transition: all 0.3s
}

.btnstyle:hover {
    border: solid 1px black;
    background-color: black;
    color:white;
}


.error {
    font-size: 10pt;
    color: red;
}



.hide_emailAuth,
.hide_Result {
    display: none;
}


.disabled {
    background-color: #eee;

    /* border: solid 0px black;
    font-size: 10pt;
    width: 110px;
    height: 20px;
    padding: 0;
    color: #555; */

    outline: none !important;
    border-color: black !important; 

    /* color: #8b8b8b; */
    color: gray;
    cursor: default;
}




