@charset "UTF-8";
/* 본문내용 */
div#contents{
    /* border: solid 1px black; */
    display: flex;
}

/* 사이드메뉴 */
div#sidemenu {
    /* border: solid 1px black; */
    width: 15%;
    margin: -2px auto;
}
div#sidemenu > h3 {
    text-align: center;
    margin: 3% 0 10% 0;
}
div#sidemenu ul,
div#sidemenu li{
    /* border: solid 1px black; */
    list-style-type: none;
    padding: 0;
    margin:0;
}
div#menulist > ul > li a {
    /* border: 1px solid red; */
    font-size: 14pt;
    padding: 0;
    margin: 0;
}
div#menulist > ul > ul {
    font-size:10pt;
    line-height: 30px;
    /* border: 1px solid blue; */
}
div#menulist > ul > ul > li a {
    color: gray;
    text-decoration: none;
    margin: 0 auto;
    display: inline-block;
    /* border: 1px solid black; */
    width: 70px;
    padding-left: 3%;
}
#menulist > ul > ul:nth-child(2) > li:nth-child(1) a {
    /* border: 1px solid red; */
    width: 200px;
}
div#menulist > ul > ul > li a:hover {
    color: black;
}
div#menulist > ul > ul > li button.btn {
    font-size: 8pt;
    height: 15px;
    position: relative;
}
div#menulist > ul > ul > li button.btn span {
    position: relative;
    top: -6px;
}
div#menulist > ul > ul > li:last-child {
    margin-bottom: 10%;
}

/* 본문 */
#table > thead > tr:nth-child(1) > td > span {
    display: inline-block;
    position: relative;
    bottom:5px;
    margin-left: 1%;
    color: rgb(187, 0, 0);
}
span.error {
    margin-left: 1%;
    color: rgb(187, 0, 0);
}
div#article {
    /* border: solid 1px black; */
    width: 90%;
}
table.table { /* 모든 테이블 */
    font-size: 10pt;
}
/* 본문상단 */
div#searchbutton {
    text-align: center;
}
div#searchbutton > button {
    font-size: 10pt;
}
select#major_category {
	height:30px;
	width:100px;
    position: relative;
    bottom: 5px;
}
select#small_category {
	height:30px;
	width:130px;
    position: relative;
    bottom: 5px;
}
table.table > thead > tr > th {
    width:170px; 
    height:30px;
    text-align : center;
  	vertical-align : middle;
}
#addProduct > table:nth-child(5) > thead > tr:nth-child(1) > td {
    position:relative;
    top:5px;
}
table.table:first-child > thead > tr:nth-child(2) > td input {
    height: 35px;
    width: 370px;
    border: 1px solid lightgrey;
}
table.table > thead > tr > td input {
    height: 35px;
    width: 200px;
    border: 1px solid lightgrey;
}
table.table:first-child > thead > tr > td > textarea {
    border: 1px solid lightgrey;
}
input#thumbnail_img {
    position: relative;
    top: 5px;
    border: none;
}
td.preview {
	height:200px;
}
td.preview > img {
	width:200px;
    aspect-ratio: 4/5;
    object-fit: cover;
}
#cnt {
	border: none;
	width:50px;
	height:30px;
}
#table > thead > tr > th > span {
    text-align : center;
    vertical-align : middle;
}
div#addProduct > h6 {
    border-left: 4px solid #0240b1;
    font-weight: bold;
}
/* 옵션추가 테이블 */
div#colorSelect {
	display:flex;
}
div#circlecolor {
	position: relative;
	padding:0.3%;
	margin-right:1%;
}
div#circlecolor > div {
 	margin-right:1%;
	width:20px;
	height:20px;
	border-radius:50%;
	position:relative;
	top:1.5px;
	left:0.3px;
    cursor: pointer;
}
input#optionimg {
    position: relative;
    top: 3px;
    border: none;
}
div.color1{
	border:1px solid #674636;
	background-color: #674636;
}
div.color2{
	border:1px solid  #ECDFCC;
	background-color: #ECDFCC;
}
div.color3{
	border:1px solid #FCDE70;
	background-color: #FCDE70;
}
div.color4{
	border:1px solid #F7B5CA;
	background-color: #F7B5CA;
}
div.color5{
	border:1px solid #9ABF80;
	background-color: #9ABF80;
}
div.color6{
	border:1px solid #1F509A;
	background-color: #1F509A;
}
div.color7{
	border:1px solid #C4D7FF;
	background-color: #C4D7FF;
}
div.color8{
	border:1px solid lightgray;
	background-color: #F5F7F8;
}
div.color9{
	border:1px solid #DDDDDD;
	background-color: #DDDDDD;
}
div.color10{
	border:1px solid #31363F;
	background-color: #31363F;
}
td#option > input:nth-child(2) {
    position:relative;
    top: 3.5px;
}
button.addoption,
button.AddImgBtn {
	width:90px;
	height:30px;
}
button.RemoveImgBtn {
	width:120px;
	height:30px;
}
button.addoption p,
button.AddImgBtn p,
button.RemoveImgBtn p {
	font-size:9pt;
	position:relative;
	top:-2px;
}

/*** 이미지 에디터 시작 ***/
.ImageTable .productupdate {
    padding-bottom: 10px;
}
.ImageTable th label {
    display: inline-block;
    line-height: 15;
    width: 100px;
}
.ImageTable  td {
    display: flex;
}
.ImageTable td > div > label:first-child {
    padding-top: 3px;
}
.ImageTable td > div > label {
    padding-top: 12px;
    width: 60px;
}
/* 이미지 */
.ImageTable td > label > img {
    width: 245.5px;
    aspect-ratio: 4/5;
    object-fit: cover;
}
/* 이미지 설명 */
.ImageTable td > div {
    margin-left: 10px;
}
.ImageTable td input {
    width: 100% !important;
}
.ImageTable td textarea {
    width: 100%;
    resize: none;
}
.ImageTable > thead > tr > th span {
	text-align : center;
    vertical-align : middle;
}
th#addImage > input.ImgCheckbox ,
th#addImage > label {
	position:relative;
	top:-60px;
	left:40px;
}
/*** 이미지 에디터 끝 ***/
div#regibutton {
    text-align: center;
}

/* input number 화살표 숨기기 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
