@charset "UTF-8";
/* 로고 */
div#header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
img#logo {
    /* border: 1px solid red;   */
    margin:1% ;
}

/* 관리자메뉴 */
div#adminmenu{
    /* border: solid 1px black; */
    height: 40px;
    text-align: center;
}
div#adminmenu > ul > li a {
    color:BLACK;
    font-size: 10pt;
}
/* 본문내용 */
div#contents{
    /* border: solid 1px black; */
    display: flex;
}

/* 사이드메뉴 */
div#sidemenu {
    /* border: solid 1px black; */
    width: 15%;
    margin: -2px auto;
}
div#sidemenu > h3 {
    text-align: center;
    margin: 3% 0 10% 0;
}
div#sidemenu ul,
div#sidemenu li{
    /* border: solid 1px black; */
    list-style-type: none;
    padding: 0;
    margin:0 ;
}
div#menulist > ul > li a {
    /* border: 1px solid red; */
    font-size: 14pt;
    padding: 0;
    margin: 0;
}
div#menulist > ul > ul {
    font-size:10pt;
    line-height: 30px;
    /* border: 1px solid blue; */
}
div#menulist > ul > ul > li a {
    color: gray;
    text-decoration: none;
    margin: 0 auto;
    display: inline-block;
    /* border: 1px solid black; */
    width: 70px;
    padding-left: 3%;
}
#menulist > ul > ul:nth-child(2) > li:nth-child(1) a {
    /* border: 1px solid red; */
    width: 200px;
}
div#menulist > ul > ul > li a:hover {
    color: black;
}
div#menulist > ul > ul > li button.btn {
    font-size: 8pt;
    height: 15px;
    position: relative;
}
div#menulist > ul > ul > li button.btn span {
    position: relative;
    top: -6px;
}
div#menulist > ul > ul > li:last-child {
    margin-bottom: 10%;
}

/* 본문 */
div#article {
/*     border: solid 1px black;  */
    width: 90%;
    height:900px;
}
table.table { /* 모든 테이블 */
    font-size: 10pt;
}
/* 본문 */
div#top {
    display: flex;
}
div#top > span:last-child {
    color: black;
}
div#orderlist > table.table > thead > tr th {
    font-size: 12pt;
}
tr#ordertr:hover {  
    background-color: rgb(253, 253, 253);
    cursor: pointer;
}
li a:active {
	color:black;
}
/* 페이지바 */
div#pageBar > nav > ul.pagination {
	/* border: 1px solid blue; */
	display: flex; 
    justify-content: center;
	text-align: center;
}

div#pageBar > nav > ul.pagination > li.page-item a {
    /* border: 1px solid red; */
	color:black;
    font-size: 10pt;
}
.page-link {
    border: none;
}
.page-link:active:hover {
    border: 1px solid  rgba(0, 0, 0, 0.5);
}  
  .page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(246, 246, 246, 0.25);
  }
  
  .page-item.active .page-link {
    border-bottom: 1px solid black;
    z-index: 3;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
  }
/* 모달 */
div.head {
    font-size: 18pt;
    font-weight: bold;
}
div.first {
    /* border-top: 1px solid gray; */
    font-size: 10pt;
    margin-bottom: 1%;
}
div.second {
    border-bottom: 1px solid gray;
    margin-bottom: 3%;
    padding-bottom: 1%;
}